.custom-tabs-container {
    width: 85%;
}
.custom-tabs {
    border-top-left-radius: 3px;
    background-color: #1E1E1E;
    padding: 60px 24px;
    border-bottom: 0px !important;
    /*border-bottom: 1px solid #EB932F;*/
}

.custom-tab {
    color:#d8d8d8;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    background-color: #383636 !important;
    padding: 12px !important;
    font-family: "Open Sans";
    text-transform: uppercase;
    letter-spacing: .1rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.custom-tab--selected {
    color: #d6d6d6 !important;
    border-top: 6px solid #EB932F !important;
    border-bottom: 0px !important;
}

/* Basic app page with header and content area */
#app-page-content {
    margin: 0px;
    margin-top: 0px; /* hide border between header and content */
    width: 100%;
    height: auto;
    min-height: calc(100vh - 60px);
    position: absolute;
    top: 0px;
}

#app-page-header {
    width: 100%;
    height: 60px !important;
    position: absolute;
    top: 0px;
    font-family: "Open Sans";
    letter-spacing: -.1rem;
    border-bottom: 2px solid #EB932F !important;
}

#app-page-header > a > img {
    height: 70px;
    float: left;
    padding: 15px;
    padding-bottom: 0px;
    transition-duration: 500ms;
}

#app-page-header > a > img:hover {
    filter: brightness(2);
}

#app-page-header h2 {
    font-size: 22pt;
    font-family: 'Open Sans';
    font-weight: 200 !important;
    letter-spacing: .1rem;
    position: absolute;
    top: -10px;
    display: inline-block;
}

#dashbio-logo > img {
    height: 30px !important;
}

#app-page-header > img {
    height: 36px;
    float: right;
    margin-top: 12px;
    margin-right: 10px;
    transition-duration: 500ms;
}
#gh-link {
    text-decoration: none;
    font-size: 10pt;
    font-family: sans-serif;
    color: white;
    border: solid 1px white;
    border-radius: 2px;
    padding: 2px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 100;
    position: relative;
    top: 15px;
    float: right;
    margin-right: 20px;
    margin-left: 0px;
    transition-duration: 400ms;
}
#gh-link:hover {
    color: #dfe8f3 !important;
    border-color: #dfe8f3 !important;
}