.custom-tabs-container {
    width: 85%;
}
.custom-tabs {
    border-top-left-radius: 3px;
    background-color: #1E1E1E;
    padding: 0px 24px;
    border-bottom: 1px solid #d6d6d6;
}

.custom-tab {
    color:#d8d8d8;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
   /*border-bottom: 0px !important;*/
    background-color: #1E1E1E !important;
    padding: 12px !important;
    font-family: "Open Sans";
    text-transform: uppercase;
    letter-spacing: .1rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.custom-tab--selected {
    color: #d6d6d6 !important;
    box-shadow: 1px 1px 0px #d8d8d8;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 6px solid #d8d8d8 !important;
}